@charset "utf-8";

*{ padding:0; margin:0; line-height:100%;}
body,h1,h2,h3,h4,h5,h6{ font-size:12px; font-family:Verdana, Geneva, sans-serif '宋体';}
ul,ol,dl{ list-style:none;}
a{ color:#000; text-decoration:none;}
a img{ border:0;}
i,em{ font-style:normal;}
b,strong{ font-weight:normal;}
.clearfix:after{ display:block; content:"";clear:both;}
/*类标签：之后  定义块
元素，内容为空，清除左右浮动*/
.clearfix{zoom:1;}
/*兼容ie低版本浏览器*/
table{ width:100%; border-collapse:collapse;}
td,th{ border:1px solid red; padding:0;}
input,textarea{outline:none;}
img{vertical-align:top;border:none;}

.fl{float:left;display:inline;}
.fr{float:right;display:inline;}












